{% extends "base.html" %}


{% block menu %}
  {% include "layout/menu_inicial.html" %}
{% endblock menu %}


{% block contenido %}
  <!--Aca empieza la tabla-->
  <div class="container my-3 " >
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-8 col-xl-8">
           
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col" class="text-center">Horarios</th>
                    <th scope="col" class="text-center">Motociclistas</th>
                    <th scope="col" class="text-center">Estado</th>
                  </tr>
                </thead>
                <tbody>
                    {% for horario in horarios %}
                        <tr>
                            <th class="text-center">{{horario.horario}} </th>
                            <td id="motociclistas-{{horario.id}}" class="text-center">{{horario.motociclistas}} </td>
                            <td class="text-center">
                                {% if horario.estado and horario.motociclistas > 0 %} 
                                  Disponible
                                {% else %}
                                  No disponible
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
  </div>
{% endblock contenido %}