<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
</head>
<body>
    <h1>Iniciar Sesión</h1>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" action="{% url 'motociclistas:iniciar_sesion' %}">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email" required>

        <label for="contraseña">Contraseña:</label>
        <input type="password" name="contraseña" required>

        <input type="submit" value="Iniciar Sesión">
    </form>
</body>
</html>